 <!-- Footer Start -->
 <footer id="footer">
	<!-- Footer Top Start -->
	<div class="footer-top">
	   <div class="container">
		  <div class="row">
			 <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
				<h3>A propos</h3>
				<p> 
				   <span itemprop="name">RunOrg</span> réalise des applications open source collaboratives adaptées aux entreprises, collectivités et associations depuis 2011. Nous permettons à ces organisations de tirer profit des nouveaux usages numériques tout en respectant strictement la sécurité de leurs données. 
				</p>
			 </section>
			 <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
				<h3>Contactez-nous</h3>
				<ul class="contact-us">
				   <li>
					  <i class="icon-map-marker"></i>
					  <p> 
						 <strong>Adresse</strong> 22 rue planchat 75020 <br>
						 Paris, France 
					  </p>
				   </li>
				   <li>
					  <i class="icon-phone"></i>
					  <p><strong>Téléphone :</strong> +33 9 70 40 80 01</p>
				   </li>
				   <li>
					  <i class="icon-envelope"></i>
					  <p><strong>Email :</strong><a href="mailto:contact@runorg.com">contact@runorg.com</a></p>
				   </li>
				   <li>
					  <i class="icon-edit"></i>
					  <p><a href="/contact.html">Formulaire de contact</a></p>
				   </li>
				</ul>
			 </section>
			 <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
				<h3>Twitter Stream</h3>
				<ul>
					<a class="twitter-timeline" href="https://twitter.com/RunOrg" data-widget-id="421694320417046528" data-chrome="noborders transparent" height="250" data-tweet-limit="1">Tweets de @RunOrg</a>
					<a href="https://plus.google.com/105717032059999732993" rel="publisher"></a>
				</ul>
			 </section>
			 <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
				<h3>Facebook</h3>
				<ul>
					<div id="fb-root"></div>
					<div class="fb-like-box" data-href="https://www.facebook.com/RunOrg" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</ul>
			 </section>
		  </div>
	   </div>
	</div>
	<!-- Footer Top End --> 
	<!-- Footer Bottom Start -->
	<div class="footer-bottom">
	   <div class="container">
		  <div class="row">
			 <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> <a href="/legal.html">Mentions légales</a> &copy;   Copyright 2014 by <a itemprop="url" href="http://runorg.com/">RUNORG</a>. All Rights Reserved. </div>
			 <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
				<ul class="social social-icons-footer-bottom">
				   <li class="facebook"><a href="https://www.facebook.com/RunOrg" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a></li>
				   <li class="twitter"><a href="https://twitter.com/runorg" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a></li>
				   <li class="gplus"><a href="https://plus.google.com/+RunorgSocialEngine" data-toggle="tooltip" title="+Google"><i class="icon-google-plus"></i></a></li>
				   <li class="linkedin"><a href="http://www.linkedin.com/company/runorg" data-toggle="tooltip" title="LinkedIn"><i class="icon-linkedin"></i></a></li>
				   <!-- <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="icon-rss"></i></a></li> -->
				</ul>
			 </div>
		  </div>
	   </div>
	</div>
	<!-- Footer Bottom End --> 
 </footer>
