
      <!-- Library CSS -->
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="/css/animations.css" media="screen">
      <link rel="stylesheet" href="/css/superfish.css" media="screen">
      <link rel="stylesheet" href="/css/team-member.css" media="screen">
      <link rel="stylesheet" href="/css/prettyPhoto.css" media="screen">
      <link rel="stylesheet" href="/css/graph.css" media="screen">
      <!-- Theme CSS -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- Skin -->
      <link rel="stylesheet" href="/css/colors/magenta.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/theme-responsive.css">
      <!-- Favicons -->
      <link rel="shortcut icon" href="/img/ico/favicon.ico">
      <link rel="apple-touch-icon" href="/img/ico/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144.png">
 <!-- Header Start -->
 <header itemscope itemtype="http://schema.org/SoftwareApplication" id="header">
	<!-- Header Top Bar Start -->
	<div class="top-bar">
	   <div class="slidedown collapse">
		  <div class="container">
			 <div class="phone-email pull-left">
				<a><i class="icon-phone"></i> Appelez-nous : +33 9 70 40 80 01</a>
				<a href="contact@runorg.com"><i class="icon-envelope"></i> Email : contact@runorg.com</a>
			 </div>
			 <div class="pull-right">
				<ul class="social pull-left">
				   <li class="facebook"><a href="https://www.facebook.com/RunOrg"><i class="icon-facebook"></i></a></li>
				   <li class="twitter"><a href="https://twitter.com/runorg"><i class="icon-twitter"></i></a></li>
				   <li class="gplus"><a href="https://plus.google.com/+RunorgSocialEngine" data-toggle="tooltip" title="+Google"><i class="icon-google-plus"></i></a></li>
				   <li class="linkedin"><a href="http://www.linkedin.com/company/runorg"><i class="icon-linkedin"></i></a></li>
				   <!-- <li class="rss"><a href="#"><i class="icon-rss"></i></a></li> -->
				</ul>
				<!-- <div id="search-form" class="pull-right">
				   <form action="#" method="get">
					  <input type="text" class="search-text-box">
				   </form>
				</div>   -->
					<div class="phone-email pull-right">
					<a href="http://runorg.com/me"> CONNEXION RUNORG</a>
					</div>
			 </div>
		  </div>
	   </div>
	</div>
	<!-- Header Top Bar End -->
	<!-- Main Header Start -->
	<div class="main-header">
	   <div class="container">
		  <!-- TopNav Start -->
		  <div class="topnav navbar-header">
			 <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
			 <i class="icon-angle-down icon-current"></i>
			 </a> 
		  </div>
		  <!-- TopNav End -->
		  <!-- Logo Start -->
		  <div class="logo pull-left">
			 <h1>
				<a href="/index.html">
				<img itemprop="image" src="/img/logo.png" alt="RUNORG" width="545" height="60">
				</a>
			 </h1>
		  </div>
		  <!-- Logo End -->
		  <!-- Mobile Menu Start -->
		  <div class="mobile navbar-header">
			 <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
			 <i class="icon-reorder icon-2x"></i>
			 </a> 
		  </div>
		  <!-- Mobile Menu End -->
		  <!-- Menu Start -->
		  <nav class="collapse navbar-collapse menu">
			 <ul class="nav navbar-nav sf-menu">
				<li>
				   <a href="/index.html">
				   Accueil
				   <span class="sf-sub-indicator">
				   </span>
				   </a>
				</li>
				<li>
				   <a href="#" class="sf-with-ul">
				   Offres 
				   <span class="sf-sub-indicator">
				   <i class="icon-angle-down "></i>
				   </span>
				   </a>
				   <ul>
					  <li><a href="/runorg-agences.html" class="sf-with-ul">Agences Web & Com</a></li>
				   	  <li><a href="/runorg-entreprises.html" class="sf-with-ul">Entreprises</a></li>
					  <li><a href="/runorg-collectivites.html" class="sf-with-ul">Collectivités</a></li>
					  <li><a href="/associations.html" class="sf-with-ul">Associations</a></li>
					  <li><a href="/runorg-opensource.html" class="sf-with-ul">Open Source</a></li>
				   </ul>
				</li>
				<li>
				   <a href="/services.html" class="sf-with-ul">
				   Services
				   <span class="sf-sub-indicator">
				   <i class="icon-angle-down "></i>
				   </span>
				   </a>
				   <ul>
					  <li><a href="/services.html#conseil" class="sf-with-ul">Conseil & Audit</a></li>
					  <li><a href="/services.html#support" class="sf-with-ul">Support</a></li>
					  <li><a href="/services.html#hebergement" class="sf-with-ul">Hébergement</a></li>
					  <li><a href="/services.html#specifiques" class="sf-with-ul">Dev. spécifiques</a></li>
					  <li><a href="/services.html#formation" class="sf-with-ul">Formations</a></li>
				   </ul>
				</li>
				<li>
				   <a href="/blog/index.html" class="sf-with-ul">
				   Blog
				   </a>
				</li>
				<li>
				   <a href="/about.html" class="sf-with-ul">
				   Notre entreprise
				   <span class="sf-sub-indicator">
				   <i class="icon-angle-down "></i>
				   </span>
				   </a>
				   <ul>
					  <li><a href="/about.html" class="sf-with-ul">A propos</a></li>
					  <li><a href="/contact.html" class="sf-with-ul">Contact</a></li>
				   </ul>
				</li>
				 <!-- <li><a href="contact.html">Contact</a></li> -->
			 </ul>
		  </nav>
		  <!-- Menu End --> 
	   </div>
	</div>
	<!-- Main Header End -->
 </header>
 <!-- Header End -->  
