<div class="our-clients">
   <div class="container">
	  <div class="row">
		 <div class="client">
			<div class="client-logo">
			   <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
				  <div class="clients-title">
					 <h3 class="title">Clients et Partenaires</h3>
					 <div class="carousel-controls pull-right">
						<a class="prev" href="#client-carousel" data-slide="prev"><i class="icon-angle-left"></i></a>
						<a class="next" href="#client-carousel" data-slide="next"><i class="icon-angle-right"></i></a>
						<div class="clearfix"></div>
					 </div>
				  </div>
				  <div class="clearfix"></div>
				  <div class="row">
					 <div id="client-carousel" class="client-carousel slide">
						<div class="carousel-inner">
						   <div class="item active">
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d1">
								 <div class="item-inner"><a href="http://www.charnilagence.com/"><img alt="Upportdash" src="/img/clientslogo/ref-charnilagence.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d2">
								 <div class="item-inner"><a href="http://www.ffbad.org/"><img alt="Upportdash" src="/img/clientslogo/ref-logo-badminton.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d3">
								 <div class="item-inner"><a href="http://www.ville-clichy.fr/"><img alt="Upportdash" src="/img/clientslogo/ref-logo-clichy.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d4">
								 <div class="item-inner"><a href="http://www.territories-of-tomorrow.org/"><img alt="Upportdash" src="/img/clientslogo/ref-territoires-demain.jpg"></a></div>
							  </div>
						   </div>
						   <div class="item">
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
								 <div class="item-inner"><a href="http://webintelligence.fr/"><img alt="Upportdash" src="/img/clientslogo/ref-mac2.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
								 <div class="item-inner"><a href="http://alfortville.fr/"><img alt="Upportdash" src="/img/clientslogo/ref-alfortville.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
								 <div class="item-inner"><a href="http://www.fscf.asso.fr/"><img alt="Upportdash" src="/img/clientslogo/ref-fscf.jpg"></a></div>
							  </div>
							  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
								 <div class="item-inner"><a href="http://www.iepp.fr/"><img alt="Upportdash" src="/img/clientslogo/ref-iepp.jpg"></a></div>
							  </div>
						   </div>
						 </div>
					 </div>
							 <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> 
								  <h3 class="title">RUNORG est membre de :</h3>
								   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 item">
								  <div class="item-inner"><a href="http://www.capdigital.com/"><img alt="Upportdash" src="/img/clientslogo/logo-cap-digital.jpg"></a></div>
								 </div>
								  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 item">
								  <div class="item-inner"><a href="http://careep.fr/"><img alt="Upportdash" src="/img/clientslogo/logo-careep.jpg"></a></div>
								</div>
							</div>
					</div>
			   </div>
			   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				  <!-- Testimonials Widget Start -->
				  <div class="row ">
					 <div class="testimonials widget">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						   <div class="testimonials-title">
							  <h3 class="title">Témoignages</h3>
						   </div>
						</div>
						<div class="clearfix"></div>
						<div id="testimonials-carousel" class="testimonials-carousel slide animate_afr d5">
						   <div class="carousel-inner">
							  <div class="item active">
								 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="testimonial item">
									   <p>
										  Une équipe créative dans ses propositions et un outil original : cela nous permet de proposer à nos clients des solutions de communication interne ou d'animation de réseaux, innovantes.
									   </p>
									   <div class="testimonials-arrow">
									   </div>
									   <div class="author">
										  <div class="testimonial-image "><img alt="" src="img/team/temoi-p-charni.jpg"></div>
										  <div class="testimonial-author-info">
											 <a href="http://www.charnilagence.com/"><span class="color">Patrick Charni</span></a> Charni l'agence
										  </div>
									   </div>
									</div>
								 </div>
							  </div>
							  <div class="item">
								 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="testimonial item">
										<p>
										  RUNORG Open Source nous apporte toutes les briques sociales que nos clients voulaient intégrer à leurs sites Internet et Intranet, et dans leurs budgets ! Nous disposons d'un véritable accompagnement ce qui renforce notre crédibilité auprès du client.
									   </p>
									   <div class="testimonials-arrow">
									   </div>
									   <div class="author">
										  <div class="testimonial-image "><img alt="" src="img/team/temoi-md-cellucci.jpg"></div>
										  <div class="testimonial-author-info">
											 <a href="http://www.webintelligence.fr/"><span class="color">Marc-Denis Cellucci</span></a> Agence MAC2
									   	  </div>
									   </div>
									</div>
								 </div>
							  </div>
							  <div class="item">
								 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="testimonial item">
									   <p>
										  Notre organisation est reproduite en miroir au sein de l’outil avec des espaces dédiés (...) RunOrg permet aux moins disponibles de suivre ce qui se passe dans leurs groupes de travail grâce aux notifications e-mail.
									   </p>
									   <div class="testimonials-arrow">
									   </div>
									   <div class="author">
										  <div class="testimonial-image "><img alt="" src="img/team/temoi-d-vailleau.jpg"></div>
										  <div class="testimonial-author-info">
											 <a href="https://www.adb-solidatech.fr/temoignage-runorg"><span class="color">Daniel Vailleau</span></a> DAD
										  </div>
									   </div>
									</div>
							  </div>
						   </div>
						</div>
					 </div>
				  </div>
			   </div>
			</div>
		 </div>
	  </div>
   </div>
</div>
