<article class="post hentry">
   <div class="img-content">
	  <a href="{{ include.post.url }}">
	 </span><span class="fullscreen">
	 <i class="icon-mail-forward"></i></span>
	  <img src="{{ include.post.image }}" alt="">
	  </a>
   </div>
   <div class="post-content-wrap">
	  <header class="post-header">
		 <div class="post-date">
			<a href="{{ include.post.url }}" class="date"><strong>{{ include.post.date | date: "%-d" }}</strong><i>{{ include.post.date | date: "%B" }}</i></a>
		 </div>
		 <h3 class="content-title"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
		 <div class="blog-entry-meta">
			<div class="blog-entry-meta-author">
			   <i class="icon-user"></i>
			   <span class="blog-entry-meta-author">{{ include.post.author }}</span>
			</div>
			<div class="blog-entry-meta-tags">
			   <i class="icon-tags"></i>
				{% for tag in include.post.tags %}
					<a href="/tag/{{ tag }}.html">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</div>
		 </div>
	  </header>
	  <div class="post-content">
		 <p>
			{{ include.post.resume }}
		 </p>
		 <a href="{{ post.url }}">En savoir plus <i class="icon-double-angle-right"></i></a>
	  </div>
   </div>
   <div class="clearfix"></div>
</article>
<div class="blog-divider"></div>
