<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
	  {% include head.html %}
   </head>
   <body class="boxed blog blog-small">
      <div class="wrap">
		  {% include header.html %}
         <!-- Content Start -->
         <div id="main">
		     <!-- Title, Breadcrumb Start-->
            <div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">{{ page.title }}</h2>
                     </div>
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                           <ul>
                              <li>Vous êtes ici : </li>
                              <li><a href="index.html">Accueil</a></li>
                              <li><a href="#">Blog RUNORG</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Title, Breadcrumb End-->
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12 bottom-pad">
						{{ content }}
						</div>
                     <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <!-- Search Widget Start -->
						<div class="widget">
                        <gcse:search></gcse:search>
						</div>
                       <!-- <div class="widget search-form">
                           <div class="input-group">
                              <input type="text" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
                              <span class="input-group-btn">
                              <button type="submit" class="subscribe-btn btn"><i class="icon-search"></i></button>
                              </span>
                           </div>  
                           
                        </div> -->
                        <!-- Search Widget End -->
                        
						<div class="widget category">
						   <h3 class="title">Catégories</h3>
						   {% include categories.html %}
						</div>
						<!-- Tab Start -->
						{% include recent.html %}
                        <!-- Tab End -->
                        <!-- Category Widget End -->
                     </div>
                     <!-- Sidebar End --> 
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
         <!-- Content End -->
		  {% include footer.html %}
         <!-- Scroll To Top --> 
         <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
      </div>
      <!-- Wrap End -->
	  {% include scripts.html %}
   </body>
</html>