<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
   <head>
   <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f14ea42ba913cf"></script>
      <meta charset="utf-8">
	  <meta property="fb:admins" content="{mfoughali}"/>
      <title>{{ page.title }}</title>
	  {% include head.html %}
   </head>
   <body class="boxed blog single-post">
      <div class="wrap">
		  {% include header.html %}
         <!-- Content Start -->
         <div id="main">
		             <!-- Title, Breadcrumb Start-->
            <div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">{{ page.title }}</h2>
                     </div>
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                           <ul>
                              <li>Vous êtes ici :</li>
                              <li><a href="/index.html">Accueil</a></li>
                              <li><a href="/blog/index.html">Blog RUNORG</a></li>
                              <li>{{ page.title }}</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Title, Breadcrumb End-->
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12 bottom-pad">
							<article class="post hentry">
							<header class="post-header">
                               <!-- <h3 class="content-title">{{ page.title }}</h3> -->
                               <div class="blog-entry-meta">
                                  <div class="blog-entry-meta-date">
                                     <i class="icon-time"></i>
                                     <span class="blog-entry-meta-date-month">{{ page.date | date: "%B" }}</span>
                                     <span class="blog-entry-meta-date-day">{{ page.date | date: "%-d" }},</span>
                                     <span class="blog-entry-meta-date-year">{{ page.date | date: "%Y" }}</span>
                                  </div>
                                  <div class="blog-entry-meta-author">
                                     <i class="icon-user"></i>
                                     <span class="blog-entry-meta-author">{{ page.author }}</span>
                                  </div>
								<div class="blog-entry-meta-tags">
								   <i class="icon-tags"></i>
									{% for tag in page.tags %}
										<a href="/tag/{{ tag }}.html">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
									{% endfor %}
								</div>
                               </div>
                            </header>
                            <div class="img-content">
                               <a href="{{ page.image }}" data-rel="prettyPhoto">
                               <!-- <span class="img-hover"></span>
                               <span class="fullscreen"><i class="icon-search"></i></span> -->
                               <img src="{{ page.image }}" alt="">
                               </a>
                            </div>
								<div class="post-content">
		 {{ content }}
								</div>
								<!-- AddThis Button BEGIN -->
								<h4>Partagez</h4>
								<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
								<a class="addthis_button_preferred_1"></a>
								<a class="addthis_button_preferred_2"></a>
								<a class="addthis_button_preferred_3"></a>
								<a class="addthis_button_linkedin"></a>
								<a class="addthis_button_compact"></a>
								<a class="addthis_counter addthis_bubble_style"></a>
								</div>
								<!-- AddThis Button END -->
								<h4>Commentez</h4>
								<div class="fb-comments" data-href="http://runorg.com/{{ page.url }}" data-numposts="5" data-colorscheme="light"></div>
                        </article>
                        <div class="blog-divider"></div>
						</div>
                     <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<!-- Left Section start -->
                        <div class="widget">
                           <h3 class="title">Résumé</h3>
                           <p>
                             {{ page.resume }}
                           </p>
                        </div>
                        <!-- Project Description End -->  
                        <div class="widget">
                           <div class="favourite">
                              <a class="btn-special btn-grey" href="/contact.html"><strong><i class="icon-envelope"></i> Contactez-nous !</strong></a>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="widget">
                           <div class="member-social dark">
                              <a class="facebook" href="https://www.facebook.com/RunOrg"><i class="icon-facebook"></i></a>
                              <a class="twitter" href="https://twitter.com/runorg"><i class="icon-twitter"></i></a>
                              <!-- <a class="dribbble" href="#"><i class="icon-dribbble"></i></a> -->
                              <a class="gplus" href="https://plus.google.com/105717032059999732993/about"><i class="icon-google-plus"></i></a>
                              <a class="linkedin" href="http://www.linkedin.com/company/runorg"><i class="icon-linkedin"></i></a>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <!-- Search Widget Start -->
						<div class="widget">
                        <gcse:search></gcse:search>
						</div>
                        <!-- Search Widget End -->
                        <!-- Tab Start -->
						{% include recent.html %}
                        <!-- Tab End -->
                        <!-- Category Widget Start -->
						{% include categories.html %}
                        <!-- Category Widget End -->
                     <!-- Sidebar End --> 
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
         <!-- Content End -->
		  {% include footer.html %}
         <!-- Scroll To Top --> 
         <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
      </div>
      <!-- Wrap End -->
	  {% include scripts.html %}
   </body>
</html>