<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
	  {% include head.html %}
   </head>
   <body class="boxed page">
      <div class="wrap">
		  {% include header.html %}
         <!-- Content Start -->
         <div id="main">
		  {{ content }}
         </div>
         <!-- Content End -->
		  {% include footer.html %}
         <!-- Scroll To Top --> 
         <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
      </div>
      <!-- Wrap End -->
      {% include scripts.html %}
   </body>
</html>